pkgbase = python-tqdm
	pkgdesc = Fast, Extensible Progress Meter
	pkgver = 4.66.4
	pkgrel = 1
	url = https://github.com/tqdm/tqdm
	arch = any
	license = MIT
	license = MPL-2.0
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-timeout
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-rich
	checkdepends = python-dask
	checkdepends = tk
	checkdepends = python-keras
	makedepends = git
	makedepends = python-setuptools-scm
	makedepends = python-toml
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-requests: telegram
	source = git+https://github.com/tqdm/tqdm.git#commit=cc372d09dcd5a5eabdc6ed4cf365bdb0be004d44
	sha512sums = 092e2925f9fbca26080610f139308c29b79c446972fc08528853841e6a532404154c77698c8542aa6b7893ae345ed86f7d8b1e7d010f1a317b7358ac7819a11b

pkgname = python-tqdm
