pkgbase = python-tqdm
	pkgdesc = Fast, Extensible Progress Meter
	pkgver = 4.67.0
	pkgrel = 1
	url = https://github.com/tqdm/tqdm
	arch = any
	license = MIT
	license = MPL-2.0
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-timeout
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-rich
	checkdepends = python-dask
	checkdepends = tk
	checkdepends = python-keras
	makedepends = git
	makedepends = python-setuptools-scm
	makedepends = python-toml
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-requests: telegram
	source = git+https://github.com/tqdm/tqdm.git#commit=v4.67.0
	sha512sums = 49c05b6f059537ff447f8fe9b1f767927d1906d0421cd426d3522795a356541df68e2694571f710e7375065012cc8f3454734fcae91e0bb259a39ec8f74f22ed

pkgname = python-tqdm
