pkgbase = python-tqdm
	pkgdesc = Fast, Extensible Progress Meter
	pkgver = 4.66.6
	pkgrel = 1
	url = https://github.com/tqdm/tqdm
	arch = any
	license = MIT
	license = MPL-2.0
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-timeout
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-rich
	checkdepends = python-dask
	checkdepends = tk
	checkdepends = python-keras
	makedepends = git
	makedepends = python-setuptools-scm
	makedepends = python-toml
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = python-requests: telegram
	source = git+https://github.com/tqdm/tqdm.git#commit=v4.66.6
	sha512sums = 27d6d13099dd6b3f91fce3d2117838967377f67e8234e7f0253be529ed1077997bb7adb1b5295d8cdf3b83133090cdc32537d15f7b5a7cb1a92399dc0150d424

pkgname = python-tqdm
